@charset "UTF-8";
/* Bootstrap */
/*Сюда лучше всего подключить только те стили, которые используются на всем сайте*/
/***********************
        FONTS 
***********************/
/*@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Black.eot');
    src: local('Proxima Nova Black'), local('ProximaNova-Black'),
        url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Black.woff2') format('woff2'),
        url('../fonts/ProximaNova-Black.woff') format('woff'),
        url('../fonts/ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}*/
/***********************
      STYLEGUIDE 
***********************/
html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto; }

body {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.scrollup {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 999999;
  background: url("../img/gototop.png") no-repeat;
  background-size: 100%; }

main {
  flex-grow: 1; }

header, main, footer {
  flex-shrink: 0; }

ul, ol {
  list-style: inherit; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

/***********************
        WP_STYLES 
***********************/
/* Navigation
--------------------------------------------- */
.main-navigation {
  display: block;
  width: 100%; }

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0; }

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999; }

.main-navigation ul ul ul {
  left: -999em;
  top: 0; }

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  display: block;
  left: auto; }

.main-navigation ul ul a {
  width: 200px; }

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto; }

.main-navigation li {
  position: relative; }

.main-navigation a {
  display: block;
  text-decoration: none; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }

  .main-navigation ul {
    display: flex; } }
.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
  margin: 0 0 1.5em; }

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%; }

/* Posts and pages
--------------------------------------------- */
.sticky {
  display: block; }

.post,
.page {
  margin: 0 0 1.5em; }

.updated:not(.published) {
  display: none; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/* Comments
--------------------------------------------- */
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/* Widgets
--------------------------------------------- */
.widget {
  margin: 0 0 1.5em; }

.widget select {
  max-width: 100%; }

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block; }

/* Captions
--------------------------------------------- */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%; }

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr); }

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr); }

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr); }

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr); }

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr); }

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr); }

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr); }

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr); }

.gallery-caption {
  display: block; }

/* Jetpack infinite scroll
--------------------------------------------- */
/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none; }

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
  display: block; }

/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0; }

/* Alignments
--------------------------------------------- */
.alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em; }

.alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em; }

/***********************
        COLOR_MAP 
***********************/
/***********************
        BUTTONS 
***********************/
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  color: #fff;
  font-family: "Roboto Flex";
  font-weight: 300;
  outline: none;
  border: none;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase; }

.btn-primary {
  background: #037CED;
  border: none; }
  .btn-primary:hover {
    background: inherit;
    border: 1px solid #fff; }
  .btn-primary:focus {
    background: inherit;
    border: 1px solid #fff; }
  .btn-primary:active {
    background: #026CAB;
    background: inherit;
    border: 1px solid #fff; }

.btn-secondary {
  background: #037CED;
  border: none; }
  .btn-secondary:hover {
    background: #000;
    border: 1px solid #fff; }
  .btn-secondary:focus {
    background: #000;
    border: 1px solid #fff; }
  .btn-secondary:active {
    background: #026CAB;
    background: inherit;
    border: 1px solid #fff; }

/***********************
        FORMS 
***********************/
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: pink; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: pink; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: pink; }

:-moz-placeholder {
  /* Firefox 18- */
  color: pink; }

/***********************
        TYPOGRAPHY 
***********************/
body {
  font-family: "Roboto Flex", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
  font-weight: 300;
  font-style: Light;
  line-height: 135%;
  letter-spacing: 0%;
  color: #000; }

p {
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
  font-weight: 300; }

h1, .h1 {
  font-size: 100px;
  line-height: 100%;
  text-transform: uppercase; }

h2, .h2 {
  font-size: 60px;
  line-height: 100%;
  text-transform: uppercase; }

.text-small {
  font-size: 16px; }

.text-medium {
  font-size: 24px; }

.text-large {
  font-size: 30px; }

.text-bold {
  font-weight: 700; }

a {
  text-decoration: none;
  transition: all .25s ease-in-out; }

/***********************
        HEADER 
***********************/
.header-wrapper {
  background-image: url("../img/video.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .header-wrapper .header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 58px 0;
    margin-top: 20px; }
    .header-wrapper .header-block .menu-block {
      display: flex;
      align-items: center; }
      .header-wrapper .header-block .menu-block .text-bold {
        border: none;
        background: inherit;
        color: #F7F7F7;
        text-transform: uppercase; }
        .header-wrapper .header-block .menu-block .text-bold img {
          margin-left: 20px; }

.baner-block {
  background-image: url("../img/video.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 125px;
  padding-bottom: 124px;
  color: #F7F7F7; }
  .baner-block h1 {
    margin-bottom: 30px; }
  .baner-block button {
    margin-top: 40px; }

.project-block {
  padding-top: 100px;
  padding-bottom: 80px; }
  .project-block p {
    margin-top: 45px; }
  .project-block .creator-project-block {
    display: flex;
    gap: 20px;
    margin-top: 25px; }
    .project-block .creator-project-block .creator-block p:nth-child(2) {
      margin: 20px 0;
      text-transform: uppercase;
      color: #989898; }

.films-block {
  background-color: #000;
  color: #fff;
  padding-top: 38px;
  text-align: center; }
  .films-block h2 {
    display: inline-block; }
    .films-block h2 span {
      display: block;
      padding-left: 100px; }

/***********************
        MENU 
***********************/
/*.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.toggle-button {
    position: fixed;
    width: 60px;
    height: 44px;
    top: 10px;
    right: 10px;
    padding: 10px;
    transition: .25s;
    z-index: 15;
    background: rgba(0,0,0,1);
    &:hover {
        cursor: pointer;
    }
    .menu-bar {
        position: absolute;
        border-radius: 0;
        width: 40px;
        transition: .5s;
    }
    .menu-bar-top {
        border: 4px solid #fff;
        border-bottom: none;
        top: 10px;
    }
    .menu-bar-middle {
        height: 4px;
        background-color: #fff;
        margin-top: 4px;
        margin-bottom: 4px;
        top: 16px;
    }
    .menu-bar-bottom {
        border: 4px solid #fff;
        border-top: none;
        top: 30px;
    }
}
.button-open {
    right: 25px;
    background: transparent;
    .menu-bar {
        width: 35px;    
    }
    .menu-bar-top {
        border-color: #fff;
        transform: rotate(45deg) translate(8px, 8px);
        transition: .5s;
    }
    .menu-bar-middle {
        background-color: #fff;
        transform: translate(230px);
        transition: .1s ease-in;
        opacity: 0;
    }
    .menu-bar-bottom {
        border-color: #fff;
        transform: rotate(-45deg) translate(5px, -6px);
        transition: .5s;
    }
}
@media (min-width: 992px) {
    .menu {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        li {

        }
    }
    .toggle-button {
        display: none;
    }
}
@media (max-width: 991px) {
    .menu-wrap {
        background-color: rgba(0,0,0,.9);
        position: fixed;
        top: 0;
        height: 100%;
        width: 280px;
        right: -280px;
        font-size: 1em;
        font-weight: 700;
        overflow-x: hidden;
        overflow-y: auto;
        transition: .25s;
        z-index: 10;
    }
    .menu-show {
        right: 0;
    }
    .menu-sidebar {
        margin: 75px 0 80px 10px;
        position: relative;
        top: 70px;
        .menu {
            li {
                padding: 20px 10px;
                border-bottom: 1px solid;
                a {
                    color: #fff !important;
                    font-size: 20px;
                    line-height: 24px;
                    position: relative;
                    font-weight: 300;
                    &:hover {
                        text-decoration: none !important;
                        &::after {
                            background-position: -100% 0;
                        }
                    }
                    &::after {
                        content: "";
                        display: block;
                        height: 0.15em;
                        position: absolute;
                        top: 100%;
                        width: 100%;
                        left: 50%;
                        transform: translate(-50%);
                        background-image: linear-gradient(to right, transparent 50.3%, #FFFA3B 50.3%);
                        transition: background-position .2s .1s ease-out;
                        background-size: 200% auto;
                    }
                }
            }
            .menu-item-has-children {
                position: relative;
                .sub-menu {
                    display: none;
                }
            }   
        }        
    }
}*/
/***********************
        BREADCRUMBS 
***********************/
/***********************
        PAGINATION 
***********************/
/***********************
        FOOTER 
***********************/
/***********************
        MODAL 
***********************/
.modal .modal-content {
  border-radius: 0;
  padding: 30px 20px 5px; }
  .modal .modal-content .modal-header {
    border-radius: 0;
    border: none; }
    .modal .modal-content .modal-header button {
      margin-top: -12px; }
      .modal .modal-content .modal-header button i {
        margin: 0; }
  .modal .modal-content .modal-footer {
    border-radius: 0;
    border: none; }
  .modal .modal-content .modal-title {
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    font-family: 'Gilroy';
    color: #341A0C; }
  .modal .modal-content .form-check {
    line-height: normal;
    padding-left: 0;
    margin-bottom: 30px; }
  .modal .modal-content .checkbox-text {
    font-size: 12px;
    line-height: 1;
    display: block; }
  .modal .modal-content .form-group {
    width: 100%; }

@media screen and (min-width: 1200px) {
  #cookie-modal .modal-dialog {
    max-width: 1100px; } }
#cookie-modal .modal-header {
  border: none;
  padding: 30px; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label:after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: block;
  position: absolute;
  top: .35rem;
  left: -1.4rem;
  width: 0.8rem;
  height: 0.8rem;
  font-size: 0.8rem;
  background: none;
  border-color: #adb5bd; }

.custom-control-input:checked ~ .custom-control-label:before {
  background: none;
  border-color: #adb5bd; }

.custom-control-input:focus:not(:checked) ~ .custom-control-label:before {
  border-color: #adb5bd; }

.custom-control-input:focus ~ .custom-control-label:before {
  box-shadow: none; }
