.about-block {
	padding-top: 238px;
	margin: 0 0 100px;

	@media screen and (max-width: 1499.9px) {
		padding-top: 198px;
	}

	@media screen and (max-width: 991.9px) {
		margin-bottom: 80px;
	}

	h1 {
		margin-bottom: 60px;
		text-transform: uppercase;
	}

	p {
		margin-bottom: 40px;
		&.text-semibold {
			margin-bottom: 20px;
		}
	}

	img {
		width: 100%;
		height: auto;
	}

	.our-principles {
		padding-left: 60px;

		@media screen and (max-width: 1499.9px) {
			padding-left: 0px;
		}
	}
}

.withus-block {
	text-align: center;
	margin-bottom: 100px;

	@media screen and (max-width: 991.9px) {
		margin-bottom: 80px;
	}

	h2 {
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	p {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;

		@media screen and (max-width: 1499.9px) {
			max-width: 1128px;
		}
	}

	.line-animation-wrapper {
		width: 100%;
		max-width: 100%;
		overflow: hidden;
		padding: 120px 0 60px;
		position: relative;

		@media screen and (max-width: 1499.9px) {
			padding: 90px 0;
		}

		@media screen and (max-width: 991.9px) {
			padding: 60px 0;
		}
	}

	.line-animation-block-wrapper {
		/*position: absolute;
		top: 120px;
		left: 0;
		z-index: 1;*/
	}

	.line-animation-block {
		/*width: 3840px;*/
		height: 376px;
		//background: url('../../assets/img/line.svg') repeat-x top left;
		//background-size: 200% 100%;
		position: relative;
		display: flex;

		.all-lines {
			background: url('../../assets/img/line.svg') repeat-x top left;
			background-size: 100% 100%;
			height: 100%;
			position: relative;
			display: flex;
			transition: all .5s linear;
		}

		.line-element {
			min-width: 50vw;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;

			.number-title {
				font-weight: 700;
				font-size: 40px;
				line-height: 125%;
				text-align: center;
				margin-bottom: 0px;
				display: block;
			}

			.el-text {
				font-weight: 300;
				font-size: 20px;
				line-height: 125%;
				text-align: center;
				margin-bottom: 10px;
				display: block;
			}

			&:after {
				content: '';
				width: 24px;
				height: 24px;
				border-radius: 50%;
				background: $black;
				display: block;
			}

			&.line-element-top {
				justify-content: flex-start;
			}

			&.line-element-bottom {
				justify-content: flex-end;
			}

			&.line-element-1 {
				padding-left: 110px;
    			margin-top: 10px;
			}

			&.line-element-2 {
				padding-right: 110px;
    			padding-bottom: 43px;
			}

			&.line-element-3 {
				padding-left: 110px;
    			margin-top: -43px;
			}

			&.line-element-4 {
				padding-right: 110px;
    			padding-bottom: 98px;
			}			
		}		
	}

	.line-animation-block-image {
		//position: absolute;
		//top: 120px;
		//left: 0;
		//z-index: 0;
		//width: 100%;
		height: 376px;
		display: flex;

		.line-element-img {
			min-width: 200vw;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	.advantages-block {
		margin-bottom: 100px;
		.single-advantage {
			text-align: left;
			h3 {
				margin-bottom: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid rgba(0, 0, 0, 0.5);
			}

			p {
				margin-bottom: 0px;
				@media screen and (max-width: 991.9px) {
			 		margin-bottom: 30px;
				}
			}
		}

		@media screen and (max-width: 991.9px) {
			margin-bottom: 80px;
		}
	}
} 

.team-block {
	position: relative;
	margin-bottom: 100px;

	@media screen and (max-width: 991.9px) {
		margin-bottom: 80px;
	}	

	.title-wrapper {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		margin-bottom: 60px;
	}

	h2 {
		margin: 0;
		text-transform: uppercase;
	}

	.team-slider-nav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 20px;
		.team-swiper-button-prev {
			width: 50px;
			height: 50px;
			color: $black;
			cursor: pointer;
			svg {

			}
		}

		.team-swiper-button-next {
			width: 50px;
			height: 50px;
			color: $black;
			cursor: pointer;
			svg {
				
			}
		}
	}

    .teamSwiper {
	    width: 100%;
	    height: 834px;
	    text-transform: uppercase;
	    margin-bottom: 60px;

	    @media screen and (max-width: 991.9px) {
			 height: 525px;
		}

		.swiper-slide {
			display: flex;
    		flex-direction: column;

			.text-medium {
				margin-bottom: 10px;
			}

			p {
				margin-bottom: 20px;
				color: $gray-1;
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
    }
    
    .buttons-wrapper {
    	width: 100%;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	gap: 20px;
    }
}