@import "../elements/_color_map";

.black-block {
	background: $black;
	.expeditions-block {
			padding-bottom: 60px;
			padding-top: 180px;
			@media screen and (max-width: 991.9px) {
				padding-bottom: 100px;
			}

			@media screen and (max-width: 767.9px) {
				padding-bottom: 70px;
			}

			.top-part {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 20px;
				margin-bottom: 60px;
				.left-part {
					width: 50%;
					max-width: 738px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 10px;
					h1 {
						margin-bottom: 0;
						color: $white;
						text-transform: uppercase;

						@media screen and (max-width: 767.9px) {
							width: 100%;					
						}
					}

					@media screen and (max-width: 1499.9px) {
						max-width: 670px;
					}

					@media screen and (max-width: 991.9px) {
						width: 100%;
						max-width: 648px;
					}

					@media screen and (max-width: 767.9px) {
						width: 100%;
						max-width: 100%;
						flex-wrap: wrap;
						justify-content: flex-start;
						gap: 10px;
					}
				}

				.right-part {
					text-align: right;
					.btn {
						min-width: 194px;
					}

					@media screen and (max-width: 767.9px) {
						width: 100%;
					}

					.expeditions-slider-nav {
						display: flex;
						align-items: center;
						justify-content: flex-end;
						gap: 20px;
						.expeditions-swiper-button-prev {
							width: 50px;
							height: 50px;
							color: $white;
							cursor: pointer;
							svg {

							}
						}

						.expeditions-swiper-button-next {
							width: 50px;
							height: 50px;
							color: $white;
							cursor: pointer;
							svg {
								
							}
						}
					}
				}

				@media screen and (max-width: 767.9px) {
					flex-wrap: wrap;
					gap: 10px;
					margin-bottom: 40px;
				}
			}

			.expeditions-slider-wrapper {
				width: 100%;
				max-width: 738px;

				@media screen and (max-width: 1499.9px) {
					max-width: 670px;
				}

				@media screen and (max-width: 991.9px) {
					max-width: 100%;			
				}

				.swiper {
					.swiper-wrapper {
						.swiper-slide {	
							background: $black;				
							.img-wrapper {
								width: 100%;
								height: 353px;
								margin-bottom: 20px;
								position: relative;

								&:before {
									content: '';
									width: 100%;
									height: 100%;
									position: absolute;
									top: 0;
									left: 0;
									z-index: 1;
									pointer-events: none;
									display: block;
									background: rgba(0,0,0,.2);
								}

								img {
									width: 100%;
									height: 100%;
									object-fit: cover;
									object-position: center;
								}
							}

							h3 {
								margin-bottom: 20px;
								color: $white;
								text-transform: uppercase;
							}

							p {
								color: rgba(255,255,255,.8);
								margin-bottom: 20px;
							}

							span {
								color: $white;
								margin-bottom: 20px;
							}

							table {
								width: 100%;
								margin-bottom: 40px;
								tbody {
									tr {
										border: none;
										td {
											padding: 20px 10px 10px;
											border: none;
											border-bottom: 1px solid rgba(217, 217, 217, 0.2);
											&:first-child {
												padding-left: 0;
												text-align: left;
												text-transform: uppercase;
												font-weight: 700;
												color: $gray-1;
											}

											&:last-child {
												padding-right: 0;
												text-align: right;
												text-transform: uppercase;
												font-weight: 700;
												color: $white;
											}
										}
									}
								}
							}

							.buttons-group {
								width: 100%;
								display: flex;
								align-items: center;
								justify-content: flex-end;
								gap: 20px;
								.btn {
									min-width: 240px;
								}

								@media screen and (max-width: 767.9px) {
									flex-wrap: wrap;
									justify-content: flex-start;
									gap: 20px;
								}
							}
						}
					}
				}
			}

			.expeditions-map {
				width: 100%;
				text-align: right;
				img {
					width: 100%;
					height: auto;

					@media screen and (max-width: 1499.9px) {
						max-width: 610px;
					}

					@media screen and (max-width: 767.9px) {
						max-width: 100%;			
					}
				}

				@media screen and (max-width: 991.9px) {			
					text-align: center;
					margin-bottom: 30px;
				}

				@media screen and (max-width: 767.9px) {			
					text-align: center;
					margin-bottom: 50px;
				}
			}
		}
	.all-expeditions-block {
		padding-bottom: 100px;
		.single-expeditions-block {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			column-gap: 20px;
			row-gap: 40px;
			a {
				width: calc(25% - 15px);
				img {
					max-width: 100%;
					width: 100%;
				}
				.text-bold {
					color: $white;
					text-transform: uppercase;
					margin-top: 20px;
				}
			}
		}
	}
}

