@import "../elements/_color_map";

.gallery-block-wrapeer {
	width: 100%;
	padding-top: 180px;
	padding-bottom: 240px;
	background-color: $black;
	background-image: url('../img/bglines2.svg');
	background-repeat: no-repeat;
	background-position: top 16px center;
	background-size: 100% auto;

	@media screen and (max-width: 1700px) {
		background-color: $black;
		background-image: url('../img/bglines2.svg');
		background-repeat: no-repeat;
		background-position: top 20px center;
		background-size: 100% auto;
	}

	@media screen and (max-width: 1199.9px) {
		padding-top: 134px;
		padding-bottom: 160px;
		background-color: $black;
		background-image: url('../img/bglines2.svg');
		background-repeat: no-repeat;
		background-position: top 15px center;
		background-size: 100% auto;
	}

	@media screen and (max-width: 991.9px) {
		background-color: $black;
		background-image: url('../img/bglines2.svg');
		background-repeat: no-repeat;
		background-position: top 80px center;
		background-size: 100% auto;
	}

	@media screen and (max-width: 575.9px) {
		padding-top: 184px;
		padding-bottom: 100px;
	}

	h1 {
		color: $white;
		text-align: center;
	    display: inline-block;
	    text-transform: uppercase;
	    margin: 0;	    
	}

	.gallery-slider-nav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 20px;

		@media screen and (max-width: 575.9px) {
			width: 100%;
		}

		.gallery-swiper-button-prev {
			width: 50px;
			height: 50px;
			color: $white;
			cursor: pointer;
			svg {

			}
		}

		.gallery-swiper-button-next {
			width: 50px;
			height: 50px;
			color: $white;
			cursor: pointer;
			svg {
				
			}
		}
	}

	.gallery-slider-wrapper {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 20px;
		.gallerySwiper {
			width: calc(57% - 10px);
			height: 680px;
			.swiper-wrapper {
				.swiper-slide {	
					img {
						max-width: 100%;
					    width: 100%;
					    height: 100%;
					    object-fit: cover;
					    object-position: center;
					}
				}
			}

			@media screen and (max-height: 850px) {
				height: 580px;
			}

			@media screen and (max-height: 750px) {
				height: 480px;
			}

			@media screen and (max-height: 650px) {
				height: 380px;
			}

			@media screen and (max-width: 1199.9px) {
		  		width: calc(75% - 10px);
				height: 450px; 
		  	}

		  	@media screen and (max-width: 992.9px) {
		  		width: 100%;
				height: 350px; 
		  	}

		  	@media screen and (max-width: 575.9px) {
		  		height: 250px; 
		  	}
		}

		.thumbsSwiper {
			width: calc(43% - 10px);
			height: 230px;
			.swiper-wrapper {
				.swiper-slide {	
					background: $black;
					transition: all .2s ease-in-out;
					img {
						opacity: .4;
						max-width: 100%;
					    width: 100%;
					    height: 100%;
					    object-fit: cover;
					    object-position: center;
					    transition: all .2s ease-in-out;
					}

					&.swiper-slide-thumb-active {
						img {
							opacity: 1;
						}						
					}
				}
			}

			@media screen and (max-height: 850px) {
				height: 180px;
			}

			@media screen and (max-height: 750px) {
				height: 150px;
			}

			@media screen and (max-height: 650px) {
				height: 130px;
			}

			@media screen and (max-width: 1199.9px) {
		  		width: calc(25% - 10px);
				height: 100px; 
		  	}

		  	@media screen and (max-width: 992.9px) {
		  		width: 100%;
				height: 80px; 
		  	}

		  	@media screen and (max-width: 575.9px) {
		  		height: 60px; 
		  	}
		}
	}

	.hidden-gallery-nav {
		display: none;
	}

	.hidden-gallery {
		display: none;
	}
}

.gallery-container {
  	width: 607px;
  	height: 607px; 
  	margin: auto; 
  	user-select: none;
  	overflow: hidden;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	perspective: 1500px;
  	border-radius: 50%;
  	transition: all 1s linear;
  	cursor: pointer;

  	@media screen and (max-width: 1199.9px) {
  		width: 367px;
  		height: 367px;
  	}

  	@media screen and (max-width: 375px) {
  		width: 190px;
  		height: 190px;
  	}

  	.gallery-items {
	  	position: absolute;
	  	top: 50%;
	  	left: 50%;
	  	transform: translate(-50%, -50%);
	  	transform-origin: center center;
	  	user-select: none;
	  	transition: all 1s linear; 

		.gallery-item {
		  	position: absolute;
		  	width: var(--card-width);
		  	height: var(--card-height);
		  	border-radius: var(--card-border-radius);
		  	overflow: hidden;
		  	user-select: none;
		  	cursor: pointer; 
		  	transition: all 1s linear;

		  	.gallery-item-img {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				//border: 5px solid $black;
				//clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
				background-size: cover;
			  	background-position: center;
			  	transition: all 1s linear;
			}	  	

			&:first-child {
				transform: translate(-50%, -50%) translate(100%, 25%) scale(1, 1);
				z-index: 10;
				.gallery-item-img {
					clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
				}

				@media screen and (max-width: 1199.9px) {
					transform: translate(-50%, -50%) translate(75%, 28%) scale(1, 1);
				}

				@media screen and (max-width: 375px) {
					transform: translate(-50%, -50%) translate(67%, 40%) scale(1, 1);
				}
			}

			&:nth-child(2) {
				transform: translate(-50%, -50%) translate(-1%, 79%) scale(1, 1);
				z-index: 9;
				.gallery-item-img {
					clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
				}

				@media screen and (max-width: 1199.9px) {
					transform: translate(-50%, -50%) translate(-26%, 73%) scale(1, 1);
				}

				@media screen and (max-width: 375px) {
					transform: translate(-50%, -50%) translate(-34%, 63%) scale(1, 1);
				}
			}

			&:nth-child(3) {
				transform: translate(-50%, -50%) translate(-50%, 52%) scale(1, 1);
				z-index: 8;
				.gallery-item-img {
					clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
				}

				@media screen and (max-width: 1199.9px) {
					transform: translate(-50%, -50%) translate(-52%, 35%) scale(1, 1);
				}

				@media screen and (max-width: 375px) {
					transform: translate(-50%, -50%) translate(-49%, 20%) scale(1, 1);
				}
			}

			&:nth-child(4) {
				transform: translate(-50%, -50%) translate(-100%, -25%) scale(1, 1);
				z-index: 7;
				.gallery-item-img {
					clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
				}

				@media screen and (max-width: 1199.9px) {
					transform: translate(-50%, -50%) translate(-75%, -28%) scale(1, 1);
				}

				@media screen and (max-width: 375px) {
					transform: translate(-50%, -50%) translate(-67%, -40%) scale(1, 1);
				}
			}

			&:nth-child(5) {
				transform: translate(-50%, -50%) translate(1%, -79%) scale(1, 1);
				z-index: 6;
				.gallery-item-img {
					clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
				}

				@media screen and (max-width: 1199.9px) {
					transform: translate(-50%, -50%) translate(26%, -73%) scale(1, 1);
				}

				@media screen and (max-width: 375px) {
					transform: translate(-50%, -50%) translate(34%, -63%) scale(1, 1);
				}
			}

			&:last-child {
				transform: translate(-50%, -50%) translate(50%, -52%) scale(1, 1);
				z-index: 5;
				.gallery-item-img {
					clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
				}

				@media screen and (max-width: 1199.9px) {
					transform: translate(-50%, -50%) translate(52%, -35%) scale(1, 1);
				}

				@media screen and (max-width: 375px) {
					transform: translate(-50%, -50%) translate(49%, -20%) scale(1, 1);
				}
			}
		} 	  	
	}

	&.click-1 {
  		transform: scale(1.4);

  		@media screen and (max-width: 1199.9px) {
	  		transform: scale(1.3);
	  	}

	  	@media screen and (max-width: 375px) {
	  		transform: scale(1.1);
	  	}

  		.gallery-items {
  			.gallery-item {
  				//transition: all .5s linear;

  				.gallery-item-img {
					//transition: all .5s linear;
				}

				&:first-child {
					transform: translate(-50%, -50%) translate(90%, 50%) scale(1.3, 1.3);

					@media screen and (max-width: 375px) {
						transform: translate(-50%, -50%) translate(77%, 57%) scale(1.3, 1.3);
					}									
				}

				&:nth-child(2) {
					transform: translate(-50%, -50%) translate(-42%, 82%) scale(1.3, 1.3);

					@media screen and (max-width: 375px) {
						transform: translate(-50%, -50%) translate(-54%, 75%) scale(1.3, 1.3);
					}												
				}

				&:nth-child(3) {
					transform: translate(-50%, -50%) translate(-67%, 28%) scale(1.3, 1.3);		

					@media screen and (max-width: 375px) {
						transform: translate(-50%, -50%) translate(-66%, 15%) scale(1.3, 1.3);	
					}										
				}

				&:nth-child(4) {
					transform: translate(-50%, -50%) translate(-90%, -50%) scale(1.3, 1.3);	

					@media screen and (max-width: 375px) {
						transform: translate(-50%, -50%) translate(-77%, -57%) scale(1.3, 1.3);
					}										
				}

				&:nth-child(5) {
					transform: translate(-50%, -50%) translate(42%, -82%) scale(1.3, 1.3);

					@media screen and (max-width: 375px) {
						transform: translate(-50%, -50%) translate(54%, -75%) scale(1.3, 1.3);
					}												
				}

				&:last-child {
					transform: translate(-50%, -50%) translate(67%, -28%) scale(1.3, 1.3);

					@media screen and (max-width: 375px) {
						transform: translate(-50%, -50%) translate(66%, -15%) scale(1.3, 1.3);
					}												
				}
			} 
  		}
  	}

  	&.click-2 {  		
  		border-radius: 0%;
  		overflow: visible;

  		@media screen and (max-width: 1199.9px) {
	  		width: 100%;
	  		height: 367px;
	  	}

	  	@media screen and (max-width: 375px) {
	  		width: 100%;
	  		height: 190px;
	  	}

  		.gallery-items { 			

  			.gallery-item {
  				//transition: all .5s linear;

  				.gallery-item-img {
					clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
					//transition: all .5s linear;
				}

				&:first-child {
					transform: translate(-50%, -50%) translate(130%, 60%) scale(.8, .8);

					@media screen and (max-width: 1199.9px) {
						transform: translate(-50%, -50%) translate(60%, 50%) scale(.4, .4);
					}

					@media screen and (max-width: 575.9px) {
						transform: translate(-50%, -50%) translate(35%, 45%) scale(.3, .3);
					}

					@media screen and (max-width: 375px) {
						display: none;
					}				
				}

				&:nth-child(2) {
					transform: translate(-50%, -50%) translate(0%, 30%) scale(.8, .8);

					@media screen and (max-width: 1199.9px) {
						transform: translate(-50%, -50%) translate(0%, 30%) scale(.4, .4);
					}

					@media screen and (max-width: 575.9px) {
						transform: translate(-50%, -50%) translate(0%, 25%) scale(.3, .3);
					}

					@media screen and (max-width: 375px) {
						transform: translate(-50%, -50%) translate(20%, 20%) scale(.3, .3);
					}							
				}

				&:nth-child(3) {
					transform: translate(-50%, -50%) translate(-130%, 50%) scale(.8, .8);	

					@media screen and (max-width: 1199.9px) {
						transform: translate(-50%, -50%) translate(-60%, 50%) scale(.4, .4);	
					}

					@media screen and (max-width: 575.9px) {
						transform: translate(-50%, -50%) translate(-40%, 50%) scale(.3, .3);	
					}

					@media screen and (max-width: 375px) {
						transform: translate(-50%, -50%) translate(-20%, 25%) scale(.3, .3);
					}						
				}

				&:nth-child(4) {
					transform: translate(-50%, -50%) translate(-130%, -60%) scale(.8, .8);		

					@media screen and (max-width: 1199.9px) {
						transform: translate(-50%, -50%) translate(-60%, -30%) scale(.4, .4);		
					}

					@media screen and (max-width: 575.9px) {
						transform: translate(-50%, -50%) translate(-40%, -30%) scale(.3, .3);		
					}

					@media screen and (max-width: 375px) {
						transform: translate(-50%, -50%) translate(-15%, -10%) scale(.3, .3);		
					}					
				}

				&:nth-child(5) {
					transform: translate(-50%, -50%) translate(0%, -90%) scale(.8, .8);	

					@media screen and (max-width: 1199.9px) {
						transform: translate(-50%, -50%) translate(10%, -60%) scale(.4, .4);	
					}	

					@media screen and (max-width: 575.9px) {
						transform: translate(-50%, -50%) translate(0%, -40%) scale(.3, .3);	
					}

					@media screen and (max-width: 375px) {
						transform: translate(-50%, -50%) translate(20%, -15%) scale(.3, .3);	
					}						
				}

				&:last-child {
					transform: translate(-50%, -50%) translate(130%, -50%) scale(.8, .8);

					@media screen and (max-width: 1199.9px) {
						transform: translate(-50%, -50%) translate(65%, -20%) scale(.4, .4);
					}

					@media screen and (max-width: 575.9px) {
						transform: translate(-50%, -50%) translate(35%, -45%) scale(.3, .3);
					}	

					@media screen and (max-width: 375px) {
						display: none;
					}						
				}
			} 
  		}
  	}

  	&.click-3 {
  		border-radius: 0%;
  		overflow: visible;

  		@media screen and (max-width: 1199.9px) {
	  		width: 100%;
	  		height: 367px;
	  	}

	  	@media screen and (max-width: 375px) {
	  		width: 100%;
	  		height: 190px;
	  	}

  		.gallery-items {
  			
  			.gallery-item {  
  				//transition: all .5s linear;

  				.gallery-item-img {
					clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
					//transition: all .5s linear;
				}

				&:first-child {
					transform: translate(-50%, -50%) translate(150%, 60%) scale(.6, .6);	

					@media screen and (max-width: 1199.9px) {
						transform: translate(-50%, -50%) translate(100%, 40%) scale(.4, .4);
					}

					@media screen and (max-width: 375px) {
						display: none;
					}			
				}

				&:nth-child(2) {
					transform: translate(-50%, -50%) translate(40%, 30%) scale(.6, .6);		

					@media screen and (max-width: 1199.9px) {
						transform: translate(-50%, -50%) translate(40%, 30%) scale(.4, .4);
					}

					@media screen and (max-width: 375px) {
						transform: translate(-50%, -50%) translate(25%, 25%) scale(.2, .2);
					}					
				}

				&:nth-child(3) {
					transform: translate(-50%, -50%) translate(-70%, 50%) scale(.6, .6);

					@media screen and (max-width: 1199.9px) {
						transform: translate(-50%, -50%) translate(-30%, 40%) scale(.4, .4);
					}

					@media screen and (max-width: 375px) {
						transform: translate(-50%, -50%) translate(-10%, 15%) scale(.2, .2);
					}							
				}

				&:nth-child(4) {
					transform: translate(-50%, -50%) translate(-70%, -60%) scale(.6, .6);

					@media screen and (max-width: 1199.9px) {
						transform: translate(-50%, -50%) translate(-20%, -20%) scale(.4, .4);
					}

					@media screen and (max-width: 375px) {
						transform: translate(-50%, -50%) translate(-5%, -25%) scale(.2, .2);
					}							
				}

				&:nth-child(5) {
					transform: translate(-50%, -50%) translate(40%, -90%) scale(.6, .6);

					@media screen and (max-width: 1199.9px) {
						transform: translate(-50%, -50%) translate(40%, -50%) scale(.4, .4);
					}	

					@media screen and (max-width: 375px) {
						transform: translate(-50%, -50%) translate(25%, -15%) scale(.2, .2);
					}							
				}

				&:last-child {
					transform: translate(-50%, -50%) translate(150%, -50%) scale(.6, .6);

					@media screen and (max-width: 1199.9px) {
						transform: translate(-50%, -50%) translate(100%, -40%) scale(.4, .4);
					}

					@media screen and (max-width: 375px) {
						display: none;
					}								
				}
			} 
  		}
  	}

  	&.click-4 {
  		border-radius: 0%;
  		overflow: visible;
  		height: 0;
  		opacity: 0;
  		transform: translate(0, 0) translate(100%, 100%) scale(0, 0);	
  		transition: all .5s linear;

  		@media screen and (max-width: 1199.9px) {
	  		width: 100%;
	  	}

  		.gallery-items {
  			position: relative;
  			top: auto;
		  	left: auto;
		  	transform: translate(0, 0);
		  	transform-origin: center center;

  			.gallery-item {  
  				transition: all .5s linear;

  				.gallery-item-img {
					clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
					opacity: 0;
					transition: all .5s linear;
				}

				&:first-child {
					transform: translate(0, 0) translate(100%, 100%) scale(0, 0);				
				}

				&:nth-child(2) {
					transform: translate(0, 0) translate(100%, 100%) scale(0, 0);							
				}

				&:nth-child(3) {
					transform: translate(0, 0) translate(100%, 100%) scale(0, 0);							
				}

				&:nth-child(4) {
					transform: translate(0, 0) translate(100%, 100%) scale(0, 0);							
				}

				&:nth-child(5) {
					transform: translate(0, 0) translate(100%, 100%) scale(0, 0);							
				}

				&:last-child {
					transform: translate(0, 0) translate(100%, 100%) scale(0, 0);							
				}
			} 
  		}
  	}

  	.click-1-btn {
  		position: absolute;
  		top: 0;
  		left: 0;
  		z-index: 999;
  		width: 100%;
  		height: 100%;
  		opacity: 0;
  		display: none;

  		&.show {
  			display: block;
  		}
  	}

  	.click-2-btn {
  		position: absolute;
  		top: 0;
  		left: 0;
  		z-index: 999;
  		width: 100%;
  		height: 100%;
  		opacity: 0;
  		display: none;

  		&.show {
  			display: block;
  		}
  	}

  	.click-3-btn {
  		position: absolute;
  		top: 0;
  		left: 0;
  		z-index: 999;
  		width: 100%;
  		height: 100%;
  		opacity: 0;
  		display: none;

  		&.show {
  			display: block;
  		}
  	}

  	.click-4-btn {
  		position: absolute;
  		top: 0;
  		left: 0;
  		z-index: 999;
  		width: 100%;
  		height: 100%;
  		opacity: 0;
  		display: none;

  		&.show {
  			display: block;
  		}
  	}
}



:root {
	--card-width: 400px;
	--card-height: 400px;
}





/*.gallery-items.draggable {
  	cursor: grab;
}

.gallery-items.draggable:active {
  	cursor: grabbing;
}

.switch {
  	position: fixed;
  	bottom: 20px;
  	left: 50%;
  	transform: translateX(-50%);
  	display: flex;
  	gap: 20px;
  	background-color: #222;
  	background-image: radial-gradient(
    	rgba(255, 255, 255, 0.015) 1px,
    	transparent 0
  	);
  	background-size: 7px 7px;
  	background-position: -1px -1px;
  	padding: 10px 20px;
  	border-radius: 4px;
  	z-index: 1000;
  	transition: padding 0.3s ease-in-out;
}

.switch-button {
  	background: none;
  	border: none;
  	color: #666;
  	cursor: pointer;
  	font-family: "TheGoodMonolith", monospace;
  	font-size: 14px;
  	padding: 5px 10px;
  	position: relative;
  	transition: all 0.3s ease-in-out;
}

.switch-button-current {
  	color: #f0f0f0;
}

.indicator-dot {
  	position: absolute;
  	width: 5px;
  	height: 5px;
  	background-color: #f0f0f0;
  	border-radius: 50%;
  	opacity: 0;
  	transition: opacity 0.3s ease-in-out;
  	top: 50%;
  	transform: translateY(-50%);
}

.switch-button .indicator-dot {
  	left: -8px;
}

.switch-button:hover .indicator-dot {
  	opacity: 1;
}*/