@import "../elements/_color_map";

.our-films-block {
	padding-top: 180px;
	padding-bottom: 200px;
	background: $black;
	background-image: url('../img/bglines2.svg');
	background-repeat: no-repeat;
	background-position: top 16px center;
	background-size: 100% 100%;

	@media screen and (max-width: 1700px) {
		background-image: url('../img/bglines2.svg');
		background-repeat: no-repeat;
		background-position: top 0px center;
		background-size: 115% 100%;
	}

	@media screen and (max-width: 1500px) {
		background-image: url('../img/bglines2.svg');
		background-repeat: no-repeat;
		background-position: top 50px center;
		background-size: 106% 100%;
	}

	@media screen and (max-width: 1199.9px) {
		padding-top: 134px;
		padding-bottom: 160px;
		background-image: url('../img/bglines2.svg');
		background-repeat: no-repeat;
		background-position: top 15px center;
		background-size: 110% 100%;
	}

	@media screen and (max-width: 991.9px) {
		background-image: url('../img/bglines2.svg');
		background-repeat: no-repeat;
		background-position: top 80px center;
		background-size: auto 100%;
	}

	@media screen and (max-width: 575.9px) {
		padding-top: 184px;
		padding-bottom: 100px;
	}

	h1 {
		color: $white;
		text-align: center;
	    display: inline-block;
	    text-transform: uppercase;
	    margin: 0 0 50px -300px;	    

	    @media screen and (max-width: 991.9px) {
			margin: 0 0 50px -300px;
			font-size: 80px;
		}

		@media screen and (max-width: 767.9px) {
			margin: 0 0 25px -200px;
			font-size: 54px;
		}

		span {
			display: block;
			padding-left: 525px;

			@media screen and (max-width: 767.9px) {
				padding-left: 300px;
			}
		}
	}

	.all-movies {
		width: 100%;
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
	}

	.single-movie {
		background: $black;
		border: 1px solid rgba(255, 255, 255, 0.4);						
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 789px;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		cursor: pointer;
		margin-bottom: 200px;

		@media screen and (max-width: 1500px) {
			height: 687px;
			margin-bottom: 100px;
		}

		@media screen and (max-width: 1199.9px) {
			height: 475px;
			margin-bottom: 60px;
		}

		@media screen and (max-width: 575.9px) {
			height: 179px;
			margin-bottom: 70px;
		}

		.movie-info {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 3;
			width: 100%;
			height: 100%;		

			.movie-title {
				position: absolute;
				top: 40px;
				right: 40px;
				z-index: 3;
				font-weight: 700;
				font-size: 20px;
				line-height: 100%;
				text-transform: uppercase;
				color: rgba(255, 255, 255, 1);
				transition: all 0.5s;
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;
				text-align: right;

				@media screen and (max-width: 767.9px) {
					top: 10px;
					right: 10px;
					font-size: 16px;
				}					
			}

			.movie-year {
				position: absolute;
				bottom: 40px;
				right: 40px;
				z-index: 3;
				font-weight: 700;
				font-size: 20px;
				line-height: 100%;
				text-transform: uppercase;
				color: rgba(255, 255, 255, 1);
				transition: all 0.5s;
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;

				@media screen and (max-width: 767.9px) {
					bottom: 10px;
					right: 10px;
					font-size: 16px;
				}	
			}
		}

		.cover-wrapper {
			width: 100%;
			height: 100%;
			position: relative;					

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				background: rgba(0,0,0,.6);
				pointer-events: none;
				display: block;
				width: 100%;
				height: 100%;
			}

			img {
				width: 100%;
				height: 100%;
				object-position: center;
				object-fit: cover;
				position: relative;
				z-index: 1;
				display: block;
				transition: all 0.5s;
			}
		}

		.play-video-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			width: 150px;
			height: 150px;
			opacity: 1;
			mix-blend-mode: Exclusion;
			background: $blue-1;
			color: $white;
			font-weight: 700;
			font-size: 20px;
			line-height: 100%;
			text-align: center;
			text-transform: uppercase;	
			left: 50%;
		    top: 50%;
		    transform: translate(-50%, -50%);
		    position: fixed;
			z-index: 555;
			opacity: 0;		
			pointer-events: none;
			transition: all .25s linear;
			-webkit-transition: all .25s linear;
			-moz-transition: all .25s linear;	
			cursor: pointer;

			@media screen and (max-width: 767.9px) {
				width: 75px;
		        height: 75px;
		        font-size: 10px;
			}						
		}

		&:hover {
			.play-video-btn {
				opacity: 1;	
				pointer-events: none;		
			}	
		}

		&:nth-child(2) {
			width: 56%;
			height: 440px;
			margin-bottom: 20px;
			@media screen and (max-width: 1500px) {
				height: 397px;
				width: 66%;
			}

			@media screen and (max-width: 1199.9px) {
				height: 309px;
				width: 75%;
			}

			@media screen and (max-width: 575.9px) {
				height: 129px;
				width: 83%;
			}
		}

		&:nth-child(3) {
			width: 56%;
			margin-left: 44%;
			height: 440px;
			margin-bottom: 200px;

			@media screen and (max-width: 1500px) {
				height: 397px;
				margin-bottom: 100px;
				width: 66%;
				margin-left: 34%;
			}

			@media screen and (max-width: 1199.9px) {
				height: 309px;
				margin-bottom: 60px;
				width: 75%;
				margin-left: 25%;
			}

			@media screen and (max-width: 575.9px) {
				height: 129px;
				margin-bottom: 70px;
				width: 83%;
				margin-left: 17%;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
 	}
}